.botao1 {
    background-color: #f1dbe2;
    border-radius: 20px;
    font-size: 20px;
    width: 50%;
}

.botao2 {
    background-color: #b1cdf3;
    box-shadow: 0 3px rgb(171, 169, 238);
    transform: translateY(9px);
    text-align: center;
    box-shadow: 0 9px rgb(240, 193, 193);
}

p {
    color: bisque;
}

h2 {
    color: rgb(243, 198, 130);
}